.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;

    h3 {
      color: black;
    }
  }

  .searchBar {
    flex: 0.5;
    margin: 0 2rem;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
    background: #f5f5f5;
    padding: 0.5rem 1rem;

    &:focus-within {
      box-shadow: 0 0 0 1px #009c65;
    }

    input {
      width: 100%;
      padding: 1rem;
      font-size: 0 1rem;

      &::placeholder {
        color: #c0c0c0;
      }
    }
  }

  .categoriesButton {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    background: none;
    cursor: pointer;
    position: relative;
    color: #8b8b8b;
    font-weight: 500;

    .categoriesDropdown {
      position: absolute;
      width: 15rem;
      top: 100%;
      left: 0;
      background: white;
      border-radius: 4px;
      box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.1);
      padding: 0.5rem;
      display: none;
      flex-direction: column;
      gap: 0.5rem;
      z-index: 1000;
    }

    &:hover .categoriesDropdown {
      display: flex;
    }

    .category {
      color: #8b8b8b;
      padding: 1rem;
      position: relative;
      text-align: left;
      border-radius: 0.2rem;

      p {
        display: none;
        padding: 1rem;
        border-radius: 4px;
        transition: background-color 0.2s ease;
        cursor: pointer;
        position: absolute;
        left: 100%;
        top: 60%;
        background: white;
        box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.1);
        width: 100%;
        line-height: 1.5rem;
        color: #8b8b8b;

        &::before {
          content: "";
          position: absolute;
          top: 0.3rem;
          left: -0.7rem;
          width: 1.5rem;
          height: 1.5rem;
          transform: rotate(45deg);
          background: white;
        }
      }

      &:hover {
        color: #000000;
        background: #f5f5f5;
      }

      &:hover p {
        display: block;
      }
    }
  }
}
